<div class="ds-loading" *ngIf="loading">
    <div class="loading">
        <span part="ball"></span>
        <span part="ball"></span>
        <span part="ball"></span>
    </div>
    <div class="mt-6 div-text">
        <p class="text-center text-white">Carregando informações, aguarde.</p>
    </div>
</div>
