.ds-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  background: rgba(40, 40, 40, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 10000;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 10px;
      height: 10px;
      border-radius: .5rem;
      margin-right: 10px;
      animation-name: loadingState1;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      background-color: var(--color-brand-primary-up);
    }

    span + span {
      animation-name: loadingState2;
    }

    span + span + span {
      margin-right: 0;
      animation-name: loadingState3;
    }
  }

  .div-text{
    margin-top: var(--space-lg)
  }

  @keyframes loadingState1 {
    0% {
      background-color: initial;
    }
    50% {
      background-color: #fae699;
    }
    100% {
      background-color: white;
    }
  }

  @keyframes loadingState2 {
    0% {
      background-color: white;
    }
    50% {
      opacity: initial;
    }
    100% {
      background-color: #fae699;
    }
  }

  @keyframes loadingState3 {
    0% {
      background-color: #fae699;
    }
    50% {
       background-color: white;
    }
    100% {
      opacity: initial;
    }
  }
}
