<h3 class="card-title mb-4">{{ getFormEntry('id')?.value ? 'Editar' : 'Adicinoar' }} Carrinho</h3>

<form [formGroup]="formGroup" (submit)="submit()" autocomplete="off">
    <div class="row">
        <div class="col">
            <label class="label">Nome: <span class="required">*</span></label>
            <input formControlName="name" id="name" class="form-control">
            <ng-container *ngIf="getFormEntry('name')?.invalid && getFormEntry('name')?.touched">
                <i class="text-danger" *ngIf="getFormEntry('name')?.errors"><b>Campo inválido</b></i>
            </ng-container>
        </div>
    </div>

    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-success btn-lg rounded-5 default">Cadastrar</button>
    </div>
</form>
