<h3 class="card-title mb-4">{{cart.name}}</h3>

<div class="d-flex justify-content-between" *ngIf="cartProducts.length">
    <div class="list-group w-50">
        <div *ngFor="let cartProduct of cartProducts" class="d-flex flex-column list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
                <h4>{{cartProduct?.product?.name}}</h4>
                <a class="btn btn-outline-danger" (click)="removeProduct(cartProduct)">remover</a>
            </div>
            <h5>
                Subtotal:
                <small>{{subTotal(cartProduct.quantity, cartProduct?.product?.value, 5.84) | currency: 'BRL' }}</small>
            </h5>
            <form>
                <label class="label">Quantidade:</label>
                <input [disabled]="cart.situation === 'CLOSED'" (change)="updateQuantity(cartProduct, $event)"
                       (keydown)="numberOnly($event)" class="form-control text-end w-25" [value]="cartProduct.quantity">
            </form>
        </div>
    </div>

    <div class="d-flex flex-column align-items-end w-50">
        <div>Produtos adicionados: {{cartProducts.length}}</div>
        <div>Quantidade total de produtos adicionados: {{ totalAdded() }}</div>
        <div>Total geral: {{ total() | currency: 'BRL' }}</div>
        <div>Desconto: {{ total() - total(5.84) | currency: 'BRL' }}</div>
        <div>Total com desconto: {{ total(5.84) | currency: 'BRL' }}</div>
        <div class="d-flex">
            <button class="btn btn-lg btn-primary default border-1 border rounded-5 mt-5 ms-2"
                    routerLink="/unlogged/products" *ngIf="cart.situation === 'BUYING' ">Continuar comprando
            </button>
            <button class="btn btn-lg btn-primary default border-1 border rounded-5 mt-5" (click)="finalize()"
                    *ngIf="cart.situation === 'BUYING' ">Finalizar
            </button>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
    <div class="alert alert-primary text-center" *ngIf="!cartProducts.length">
        Nenhum produto adicionado!<br>
        Adicione-os clicando <a routerLink="/unlogged/products">aqui</a>
    </div>
</div>
