<h3 class="card-title mb-4">Carrinhos de compras</h3>
<div class="d-flex flex-wrap justify-content-center align-content-center">

    <div class="list-group w-100">
        <div *ngFor="let cart of carts" class="d-flex justify-content-between align-items-center list-group-item list-group-item-action">
            <div>
                <img alt="cart" matTooltip="Adicionar produtos" (click)="setCart(cart)" src="assets/icons/cart.png" id="cart-icon" class="img-fluid me-3">
                <a class="btn btn-link" matTooltip="Detalhes do carrinho de compras" [routerLink]="cart.id">{{cart.name}}</a>
            </div>
            <div class="badge bg-info h-auto">{{ normalizeSituation(cart.situation) }}</div>
        </div>
    </div>

    <div class="alert alert-primary text-center" *ngIf="!carts?.length">
        Nenhum carrinho encontrado!<br>
        Adicione-os clicando <a routerLink="create">aqui</a>
    </div>
</div>
