<h3 class="card-title mb-4">Produtos</h3>
<div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let product of products" class="card m-3" style="width: 20rem">
        <img class="card-img-top img-thumbnail" [src]="thumbnailPath(product.thumbnail)" [alt]="product.thumbnail">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h6 class="card-text">{{ product.value | currency: 'BRL' }}</h6>
            <div class="d-flex justify-content-between">
                <button [routerLink]="[product.id]" class="btn btn-primary default rounded-5">Comprar</button>
            </div>
        </div>
    </div>

    <div class="alert alert-primary text-center" *ngIf="!products?.length">
        Nenhum produto encontrado!<br>
        Adicione-os clicando <a routerLink="create">aqui</a>
    </div>
</div>
