<h3 class="card-title mb-4">{{ getFormEntry('id')?.value ? 'Editar' : 'Adicinoar' }} Produto</h3>

<form [formGroup]="formGroup" (submit)="submit()">
    <div class="row">
        <div class="col">
            <label class="label">Nome: <span class="required">*</span></label>
            <input formControlName="name" id="name" class="form-control">
            <ng-container *ngIf="getFormEntry('name')?.invalid && getFormEntry('name')?.touched">
                <i class="text-danger" *ngIf="getFormEntry('name')?.errors"><b>Campo inválido</b></i>
            </ng-container>
        </div>
        <div class="col">
            <label class="label">Valor unitário: <span class="required">*</span></label>
            <input formControlName="value" id="value" class="form-control" currencyMask>
            <ng-container *ngIf="getFormEntry('value')?.invalid && getFormEntry('value')?.touched">
                <i class="text-danger" *ngIf="getFormEntry('value')?.errors"><b>Campo inválido</b></i>
            </ng-container>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <label class="label">Descrição:</label>
            <textarea formControlName="description" id="description" class="form-control"></textarea>
            <ng-container *ngIf="getFormEntry('description')?.invalid && getFormEntry('description')?.touched">
                <i class="text-danger" *ngIf="getFormEntry('description')?.errors"><b>Campo inválido</b></i>
            </ng-container>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <label class="label">Imagem: <span class="required">*</span></label>
            <section #dropZone>
                <ngx-dropzone (change)="onFileSelect($event, dropZone)" [disableClick]="!!dropZone.dataset['uploadProgress']" [multiple]="false" accept="image/jpeg,image/jpg,image/png" class="form-control border-1 rounded-1 border" [class.border-danger]="getFormEntry('thumbnail')?.invalid && getFormEntry('thumbnail')?.dirty">

                    <ngx-dropzone-label>
                        <div  *ngIf="!getFormEntry('thumbnail')?.value">
                            <h3>Clique ou arraste para selecionar o arquivo</h3>
                            <h5>.png | .jpg | .jpeg</h5>
                        </div>
                        <div  *ngIf="dropZone.dataset['uploadProgress']">
                            <h3>Carregando aguarde...</h3>
                        </div>
                    </ngx-dropzone-label>

                    <ngx-dropzone-image-preview *ngIf="!dropZone.dataset['uploadProgress'] && document" ngProjectAs="ngx-dropzone-preview" [file]="document">

                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <div class="progress" style="margin-top: .5rem" *ngIf="dropZone.dataset['uploadProgress']">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" [style.width.%]="dropZone.dataset['uploadProgress']"></div>
                </div>
            </section>
            <ng-container *ngIf="getFormEntry('thumbnail')?.invalid && getFormEntry('thumbnail')?.touched">
                <i class="text-danger" *ngIf="getFormEntry('thumbnail')?.errors"><b>Campo inválido</b></i>
            </ng-container>
        </div>
    </div>

    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-success btn-lg rounded-5 default">Salvar</button>
    </div>
</form>
