<div class="d-flex">
    <img class="img-thumbnail img-fluid thumbnail" [src]="thumbnailPath(product.thumbnail)">

    <div class="w-100 ms-3 d-flex flex-column justify-content-between text-end">
        <div>
            <h1>{{ product.name }}</h1>
            <blockquote>
                {{product.description}}
                <i *ngIf="!product.description">Nenhuma descrição encontrada</i>
            </blockquote>
        </div>

        <form [formGroup]="formGroup" (submit)="addToCart()">
            <div class="d-flex justify-content-between">
                <div class="text-start">
                    <label class="label">Quantidade:</label>
                    <input formControlName="quantity" class="form-control" type="text" (keydown)="numberOnly($event)">
                    <small><i>subtotal:</i></small>
                    <h5>{{ subTotal( getFormEntry('quantity')?.value, product.value, 5.84) | currency: 'BRL' }}</h5>
                </div>

                <div class="d-flex flex-column">
                    <small>de <i>{{ product.value | currency: 'BRL' }}</i> por apenas: </small>
                    <h3>{{ product.value - 5.84 | currency: 'BRL' }}</h3>
                    <button class="btn btn-primary default btn-lg rounded-5">Por no carrinho</button>
                </div>
            </div>
        </form>
    </div>
</div>
