nav[id='mfluxo-navbar'] {
  min-height: 3.5rem;
  width: 100%;
  background-color: #4F1076;
  color: wheat;
  padding-inline: 20%;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;

  img[id='nav-brand'] {
    max-width: 10rem;
  }

  img[id='cart-icon'] {
    width: 2rem;
    background-color: #61397a;
    border-radius: 50%;
    cursor: pointer;
  }
}
