<nav id="mfluxo-navbar" class="d-flex flex-row justify-content-between align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a routerLink="/">
            <img class="img-fluid me-5" id="nav-brand" alt="brand" src="assets/images/nav-brand.png">
        </a>
        <button class="btn btn-link text-decoration-none text-uppercase text-white" routerLink="products" routerLinkActive="text-white-50 border-1 border">Produtos</button>
        <button class="btn btn-link text-decoration-none text-uppercase text-white" routerLink="carts" routerLinkActive="text-white-50 border-1 border">Carrinhos</button>
    </div>

    <div>
        <div class="d-flex align-items-center" style="height: 3rem">
            <img alt="cart" src="assets/icons/cart.png" id="cart-icon" class="img-fluid" (click)="redirectToCart()" matTooltip="Meu carrinho">
        </div>
    </div>

</nav>

