/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'ngx-toastr/toastr-bs5-alert';

.form-control {
  background: rgba(238, 235, 235, 0.4) !important;
}
.label {
  font-weight: bold;

  .required {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

button[class*='default'] {
  background: radial-gradient(circle at 10% 20%, #6610f2 0%, #6F42C1 90%);
  border: none;
  outline: none;

  &:hover {
    background: radial-gradient(circle at 10% 20%, #6100ff 0%, #5819c9 90%);
  }
}

select, input, textarea {

  &:focus {
    border: 1px solid black;
    box-shadow: none;
  }

  &.ng-touched.ng-dirty {
    &.ng-invalid {
      border: 1.5px solid red !important;
    }
  }
}

blockquote {
  padding: .5rem;
  border-left: 3px black solid;
  border-radius: .2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}
